@charset "UTF-8";

.contents{
	
	padding-left:20%;
	
}

.elements{
	
	float:left;padding-right:10%;
	
}


#deleteButton{
	
	 background-color:red;
	 color:azure;
	 border-radius:10px;
	 height:50px;
	
}

#deleteButton:hover{
	
	 background-color:brown;
	 color:azure;
	
}