<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8"></meta>
  <link rel="stylesheet" th:href="@{/css/items/itemDetail.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <title>VegetableDetail</title>
</head>
<body>
	<div class="contents">
		<div class="elements">
			<h3>商品詳細</h2>
			 <table border="1" th:object="${itemDetailForm}" class="table table-striped text-center">
				<tr>
					<th>商品ID</th>
					<th>商品名</th>
					<th> 商品参考画像</th>
					<th>農家名</th>
					<th>価格</th>
				</tr>
				<tr>
					<td  scope=row th:text="*{id}"></td>
					<td th:text="*{name}"></td>
					<td><img th:src="@{/images/items/{items}.png(items=*{id})}" width="300" height="200"></td>
					<td><a th:href="@{'/detail/farmers/'+*{farmerId}}" th:text=*{farmerName}></a></td>
					<td th:text="*{price}+円"></td>
				</tr>
			</table>
			 <a th:href="@{/}">一覧に戻る</a>
		</div>
		<!--更新フォームと削除ボタンは農家権限意外に見えないように設定-->
		<div class="forms" style="float:left" sec:authorize="hasRole('ROLE_FARMER')">
			<h4>名前と価格の変更</h4>
			<form th:action="@{'/detail/'+${itemDetailForm.id}+'/update'}" method="POST" th:object="${itemDetailForm}">
			   <input type="hidden" name="id" th:field="*{id}">
			   <input type="text" name="name" th:field="*{name}"
			   th:errorclass="is-invaid"/input>
			   <font color="red">
				   <div th:errors="*{name}"></div>
			   </font>
			   <br>
			   <input type="text" name="price" th:field="*{price}" /input>
			   <br>
			   <input type="submit" value="送信" class="btn btn-sm btn-primary" /input>
		   </form>
		   <h4>商品の削除</h4>
		   <form th:action="@{'/detail/'+${itemDetailForm.id}}+'/delete'" method="POST"
		    th:object="${itemDetailForm}" onsubmit="return deleteConfirm()">
			   <input type="hidden" name="id" th:field="*{id}">
			   <input type="hidden" name="name" th:field="*{name}">
			   <button type="submit" class="btn btn-danger">
			   この商品を削除
			   </button>
		   </form>
	   </div>
   </div>
   <script>
	   
	   const deleteConfirm = ()=>{
			   let check= confirm('商品を削除します。よろしいですか？');
			   console.log(check);
			   if(check==true){
				   return true;
			   }else{
				   return false;
			   }
		   };
	  
   </script>
</body>
</html>