<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <title>Vegetables</title>
</head>
<body>
   <div style="padding-left:29%;">
	   <p th:text="'ログイン中のユーザー：'+${loginUser.userName}"></p>
	   <a th:href="@{/input}" style="padding-right:10px;">登録はこちら</a>
	   <a th:href="@{/logout}" >ログアウト</a>
   </div>
  <table border="1" style="margin: 0 auto;">
        <tr> 
            <th>商品ID </th>
            <th>商品名</th>
            <th>商品参考画像</th>
            <th>タイムリーフから呼び出した農家名</th>
            <th>更新・削除はここから</th>
        </tr>
        <tr th:each="items:${dbItems} "> 
            <td th:text="${items.id}" style="text-align:center;"></td>
            <td th:text="${items.name}"></td>
            <td><img th:src="@{/{items}.png(items=${items.id})}" width="300" height="200"></td>
            <td th:text="${@userServiceImpl.getUserNameById(items.farmerId)}"></td>
            <td style="text-align:center;">
				<a th:href="@{'/detail/'+${items.id}}">
					詳細
				</a>
			</td>
        </tr>
   </table> 
   <br>
   <table border="1" style="margin: 0 auto;">
        <tr> 
            <th>商品ID </th>
            <th>商品名</th>
            <th>商品参考画像</th>
            <th>テーブル結合で呼び出した農家名</th>
            <th>更新・削除はここから</th>
        </tr>
        <tr th:each="items:${itemAndUsername} "> 
            <td th:text="${items.itemId}" style="text-align:center;"></td>
            <td th:text="${items.name}"></td>
            <td><img th:src="@{/{items}.png(items=${items.itemId})}" width="300" height="200"></td>
            <td th:text="${items.farmerName}"></td>
            <td style="text-align:center;">
				<a th:href="@{'/detail/'+${items.itemId}}">
					詳細
				</a>
			</td>
        </tr>
   </table> 
</body>
</html>