<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <title>VegetableDetail</title>
</head>
<body>
	<h1>商品詳細</h1>
	 <table border="1" th:object="${detailForm}">
		<tr>
			<th>商品ID</th>
			<th>商品名</th>
			<th>商品参考画像</th>
		</tr>
		<tr>
			<td th:text="*{id}"></td>
			<td th:text="*{name}"></td>
			<td><img th:src="@{/{items}.png(items=*{id})}" width="300" height="200"></td>
		</tr>
	</table>
	<h1>名前の変更</h1>
	<form th:action="@{/detail/update}" method="POST" th:object="${detailForm}">
	   <input type="text" name="name" th:field="*{name}"
	   th:errorclass="is-invaid"/input>
	   <font color="red">
		   <div th:errors="*{name}"></div>
	   </font>
	   <br>
	   <input type="submit" value="送信" /input>
   </form>
   <a th:href="@{/}">一覧に戻る</a>
</body>
</html>