<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <title>VegetableDetail</title>
</head>
<body>
	<div class="contents" style="padding-left:30%;">
		<div class="itemTable" style="float:left;padding-right:10%;">
		<h2>商品詳細</h2>
		 <table border="1" th:object="${detailForm}">
			<tr>
				<th>商品ID</th>
				<th>商品名</th>
				<th>商品参考画像</th>
			</tr>
			<tr>
				<td th:text="*{id}"></td>
				<td th:text="*{name}"></td>
				<td><img th:src="@{/{items}.png(items=*{id})}" width="300" height="200"></td>
			</tr>
		</table>
		 <a th:href="@{/}">一覧に戻る</a>
		</div>
		<div class="forms" style="float:left">
			<h2>名前の変更</h2>
			<form th:action="@{'/detail/'+${detailForm.id}+'/update'}" method="POST" th:object="${detailForm}">
			   <input type="hidden" name="id" th:field="*{id}">
			   <input type="text" name="name" th:field="*{name}"
			   th:errorclass="is-invaid"/input>
			   <font color="red">
				   <div th:errors="*{name}"></div>
			   </font>
			   <br>
			   <input type="submit" value="送信" /input>
		   </form>
		   <h2>商品の削除</h2>
		   <form th:action="@{'/detail/'+${detailForm.id}}+'/delete'" method="POST"
		    th:object="${detailForm}" onsubmit="return deleteConfirm()">
			   <input type="hidden" name="id" th:field="*{id}">
			   <input type="hidden" name="name" th:field="*{name}">
			   <button type="submit" id="deleteButton"
			   style="background-color:red; color:azure;border-radius:10px;height:50px;">
			   この商品を削除
			   </button>
		   </form>
	   </div>
   </div>
   <script>
	   
	   const deleteConfirm = ()=>{
			   let check= confirm('商品を削除します。よろしいですか？');
			   console.log(check);
			   if(check==true){
				   return true;
			   }else{
				   return false;
			   }
		   };
	  
   </script>
</body>
</html>