<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <title>Vegetables</title>
</head>
<body>
  <table border="1">
        <tr> 
            <th>商品ID </th>
            <th>商品名</th>
        </tr>
        <tr th:each="items:${dbItems} "> 
            <td th:text="${items.id}"></td>
            <td th:text="${items.name}"></td>
        </tr>
   </table>
   <form th:action="@{/vegetables}" method="POST">
	   <input type="number" name="id" placeholder="商品IDを入力"/input>
	   <br>
	   <input type="text" name="name" placeholder="商品名を入力"/input>
	   <br>
	   <input type="submit" value="送信" /input>
   </form>
   
</body>
</html>