<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <title>Vegetables</title>
</head>
<body>
  <table border="1">
        <tr> 
            <th>商品ID </th>
            <th>商品名</th>
            <th>商品参考画像</th>
            <th>更新・削除はここから</th>
        </tr>
        <tr th:each="items:${dbItems} "> 
            <td th:text="${items.id}"></td>
            <td th:text="${items.name}"></td>
            <td><img th:src="@{/{items}.png(items=${items.id})}" width="300" height="200"></td>
            <td style="text-align:center;">
				<button>詳細</button>
			</td>
        </tr>
   </table> 
   <a th:href="@{/input}">登録はこちら</a>
</body>
</html>