<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <title>農家詳細</title>
</head>
<body>
	<div class="container">
		<h2>農家詳細</h2>
		<table th:object="${farmerDetailForm}" border="1" class="table table-striped text-center">
			<tr>
				<th>農家ID</th>
				<th>農家名</th>
				<th>取り扱い野菜一覧</th>
			</tr>
			<tr>
				<td th:text="*{farmerId}"></td>
				<td th:text="*{farmerName}"></td>
			<td>
				<p th:each="farmerDetail:${farmerDetails} " th:text="${farmerDetail.farmerItemsName}"></p>
			</td>
			</tr>
		<table>
	</div>
</body>
</html>