<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login</title>
</head>
<body>
	<div class="contents" style="padding-left:40%;">
		<h2>ログイン</h2>
		<form th:action="@{/login}" method="post">
			<label for="userId">ユーザーID</label>
			<input type="text" name="userId"/>
			<br>
			<label for="password">パスワード</label>
			<input type="text" name="password"/>
			<br>
			<br>
			<button type="submit">登録</button>		
			<br>
			<br>		
		</form>
		<a th:href="@{/signup}">新規登録はこちら</a>
	</div>
</body>
</htmlxmlns:th="http://www.thymeleaf.org">