<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"></meta>
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <title>ログイン</title>
</head>
<body>
	<div id="contents" class="container bg-light text-center">
		<h2>ログイン</h2>
		<form th:action="@{/login}" method="post" class="pt-4">
			<div th:if="${param.error}">
				<p th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null}"
					th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}"
					class="session-error">
					ログイン失敗
				</p>
			</div>
			<label for="userMail">ユーザーメールアドレス</label>
			<br>
			<input type="text" name="userMail"/>
			<br>
			<label for="password" class="pt-2">パスワード: </label>
			<button type="button" id="hideButton"  onclick="pushHideButton()"
			class="btn btn-secondary mb-1">
				パスワードの「見える化」
			</button>
			 <br>
			<input id="password" type="password" name="password"/>
			<br>
			<br>
			<button type="submit" class="btn btn-primary ">ログイン</button>		
			<br>
			<br>		
		</form>
		<a th:href="@{/signup}">新規登録はこちら</a>
	</div>
	<script>
      function pushHideButton() {
        var txtPass = document.getElementById("password");
        var hideButton = document.getElementById("hideButton");
        if (txtPass.type === "text") {
          txtPass.type = "password";
          hideButton.innerHTML="パスワードの「見える」化"
        } else {
          txtPass.type = "text";
          hideButton.innerHTML="パスワードの「見えない」化"
        }
      }
    </script>
</body>
</html>