<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login</title>
</head>
<body>
	<div class="contents" style="padding-left:40%;">
		<h2>ログイン</h2>
		<form th:action="@{/login}" method="post">
			<div th:if="${param.error}">
				<p th:if="${session[SPRING_SECURITY_LAST_EXCEPTION] != null}"
					th:text="${session[SPRING_SECURITY_LAST_EXCEPTION].message}"
					style="color:red;">
					ログイン失敗
				</p>
			</div>
			<label for="userMail">ユーザーメールアドレス</label>
			<br>
			<input type="text" name="userMail"/>
			<br>
			<label for="password">パスワード</label>
			<br>
			<input type="text" name="password"/>
			<br>
			<br>
			<button type="submit">ログイン</button>		
			<br>
			<br>		
		</form>
		<a th:href="@{/signup}">新規登録はこちら</a>
	</div>
</body>
</htmlxmlns:th="http://www.thymeleaf.org">