<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>signup</title>
</head>
<body>
	<div class="contents" style="padding-left:40%;">
		<h2>新規登録</h2>
		<form th:action="@{/signup}" method="post" th:object="${signupForm}">
			<p>ユーザーID</p>
			<input type="text" name="userId" th:field="*{userId}" th:errorclass="is-invaid"/>
			<font color="red">
		 	  <div th:errors="*{userId}"></div>
	   		</font>
			<br>
			<p>パスワード</p>
			<input type="text" name="password" th:field="*{password}" th:errorclass="is-invaid"/>
			<font color="red">
		 	  <div th:errors="*{password}"></div>
	   		</font>
			<br>
			<br>
			<button type="submit">登録</button>		
			<br>
			<br>			
		</form>
		<a th:href="@{/login}">ログインはこちら</a>
	</div>
</body>
</html>