<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/signup.css}">
<title>signup</title>
</head>
<body>
	<div class="contents">
		<h2>新規登録</h2>
		<form th:action="@{/signup}" method="post" th:object="${signupForm}" onsubmit="return confirmPassword()">
			<p>ユーザーメールアドレス</p>
			<input type="text" name="userMail" th:field="*{userMail}" th:errorclass="is-invaid"/>
			<font color="red">
		 	  <div th:errors="*{userMail}"></div>
	   		</font>
			<br>
			<p id="error_msg" style="color:red;"></p>
			<label for="password">パスワード:</label>
			<button class="passwordButton" type="button" id="hideButton"  onclick="pushHideButton()"
			 >パスワードの「見える化」</button>
			 <br>
			<input type="password" id="password" name="password" th:field="*{password}" th:errorclass="is-invaid"/>
			<font color="red">
		 	  <div th:errors="*{password}"></div>
		 	</font>
	   		<p>パスワード再入力</p>
			<input type="password" id="confirm_password" name="confirm_password">
			<p>ユーザー名</p>
			<input type="text" name="userName" th:field="*{userName}" th:errorclass="is-invaid">
			<font color="red">
		 	  <div th:errors="*{userName}"></div>
		 	</font>
		 	<br>
		 	<br>
		 	<input type="radio" name="userType" value="ROLE_FARMER" th:field="*{authority}" th:errorclass="is-invaid">農家
		 	<input type="radio" name="userType" value="ROLE_GENERAL"th:field="*{authority}" th:errorclass="is-invaid">一般ユーザー
		 	<font color="red">
		 	  <div th:errors="*{authority}"></div>
		 	</font>
		 	<br>
		 	<br> 
		 	<button type="submit">登録</button>		
		 	<br>
		 	<br>			
		</form>
		<a th:href="@{/login}">ログインはこちら</a>
	</div>
	<script>
		
		function confirmPassword() {
 		 const password = document.getElementById('password').value;
 		 const confirmPassword = document.getElementById('confirm_password').value;
         const errorMsg = document.getElementById('error_msg');

            if (password == confirmPassword) {
                errorMsg.innerText = "";
                return true;
            } else {
                errorMsg.innerText = "パスワードが一致しません";
                return false;
            }
        }
        
      function pushHideButton() {
        var txtPass = document.getElementById("password");
        var txtConfirmPass = document.getElementById("confirm_password")
        var hideButton = document.getElementById("hideButton");
        if (txtPass.type === "text") {
          txtPass.type = "password";
          txtConfirmPass.type="password"
          hideButton.innerHTML="パスワードの「見える」化"
        } else {
          txtPass.type = "text";
          txtConfirmPass.type="text"
          hideButton.innerHTML="パスワードの「見えない」化"
        }
      }
		
	</script>
</body>
</html>